{% load static %}

<!DOCTYPE html>

<html lang="en">

<head>
    <title>{% block title %}{% endblock %}</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css"
        integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
    <link href="{% static 'encyclopedia/styles.css' %}" rel="stylesheet">
</head>

<body>
    <div class="row">
        <nav class="sidebar col-xs-12 col-md-3 col-sm-4">
            <h2 class="logo">Wiki</h2>
            <ul class='nav flex-column'>
                <li class='nav-item'>
                    <form action="{% url 'search' %}">
                        {{ form }}
                        <!-- <input class=" search" type="text" name="q" placeholder="Search Encyclopedia"> -->
                    </form>
                </li>
                <li class='nav-item active'>
                    <a href="{% url 'index' %}" class="nav-link">Home</a>
                </li>
                <li class='nav-item'>
                    <a href=# class=" nav-link">Create New Page</a>
                </li>
                <li class='nav-item'>
                    <a href="#" class="nav-link">Random Page</a>
                </li>
                {% block nav %}
                {% endblock %}
            </ul>
        </nav>
        <div class="main col-xs-12 col-md-9 col-sm-8">
            {% block body %}
            {% endblock %}
        </div>
    </div>

</body>

</html>